Flask
Flask-SQLAlchemy
Flask-WTF
Jinja2
MarkupSafe
Pillow
PyMySQL
SQLAlchemy
WTForms
Werkzeug
enum34
flask-login
furl
itsdangerous
opentok
orderedmultidict
pip
pymongo
pytz
qrcode
recaptcha-client
requests
setuptools
six
urllib3
gunicorn
psycopg2-binary